<div id="page-wrap">

  <h1>chatroom test</h1>
  
  <p id="name-area"></p>
  
  <div id="chat-wrap">
    <div id="chat-area"></div>
  </div>
  
  <form id="send-message-area">
    <p>Your message: </p>
    <textarea id="msg" maxlength='100'></textarea>
    <input id="send-message" type="submit" value="submit" />
  </form>

</div>